/dts-v1/;
/plugin/;

&spidev0 { status = "disabled"; };
&spidev1 { status = "disabled"; };

&spi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	
	// cs-gpios = <&gpio 8 1>;

	nrf24l01_spi0: nrf24l01@0 {
		status = "okay";
		compatible = "nordic,nrf24l01";
		model = "nrf_garden";

		// only one cs pin 
		reg = <0>;
		
		interrupt-parent = <&gpio>;
		interrupts = <23 2>;
		spi-max-frequency = <8000000>;
		ce-gpios = <&gpio 24 0>;
	};
};

&gpio {
	spi1_pins_overlay: spi1_pins_overlay {
		brcm,pins = <19 20 21>;
		brcm,function = <3>;
		brcm,pull = <2 0 0>;
	};
	spi1_cs_overlay: spi1_cs_overlay {
		
		// only one cs pin
		brcm,pins = <18>;
		brcm,function = <1>;
		brcm,pull = <0>;
	};
};

&spi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	
	cs-gpios = <&gpio 18 1>;
	
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins_overlay &spi1_cs_overlay>;

	nrf24l01_spi1: nrf24l01@0 {
		status = "okay";
		compatible = "nordic,nrf24l01";
		model = "nrf_garage";
		reg = <0>;
		interrupt-parent = <&gpio>;
		interrupts = <6 2>;
		spi-max-frequency = <8000000>;
		ce-gpios = <&gpio 5 0>;
	};
};
